# Appraise
Batches
development.db*
Examples/**/*.csv
Examples/**/*.log
Packages
regressiontests.db
static

# Python
*.py[cod]
__pycache__

# Temporary files
*~
appraise.log

# Editors
.vscode
*.sw[po]

.venv
venv
db.sqlite3*

MyCampaign/output.csv
MyCampaign/results.csv

# results files
**/results.*.csv
**/users.*.csv

# config file
config.ini

# geoip stuff
geoip_dbs/
geoip_dbs/GeoLite2-City.mmdb
geoip_dbs/GeoLite2-Country.mmdb
