/*
to update:
1. edit in /var/www/rival/public_html/translation-eval/Dashboard/static/Dashboard/css/custom.css
2. python3 manage.py collectstatis
3. clean cache and reload page
*/

.uni-logos {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    gap: 3em;
    place-items: center;
}

.uni-logo {
    pointer-events: none;
    user-select: none;
}

.um-logo {
    height: 3.5em;
    filter: grayscale(100%);
    opacity: 0.8;
}

.upv-logo {
    height: 5em;
    opacity: 0.7;
}

.jumbotron p {
    font-size: 15px;
    margin: 0 0 7px 0; /* reduced line spacing */
}

h3 {
    font-size: 21px;
}

.jumbotron h1 {
    font-size: 45px;
}

.btn-lg {
    font-size: 16px;
}

.ui-lang-divider {
    width: 90%;
    border: 1px solid #eee;
    margin: 2em;
}

/* adjustments on mobile screens */
@media (max-width: 767px) {
    .uni-logos {
        grid-auto-flow: row;
        gap: 0.5em;
    }

    .jumbotron h1 {
        font-size: 35px;
    }

    .btn-lg {
        margin: 10px auto;
    }
}