{% extends "Dashboard/base.html" %}
{% load static %}

{% block head %}
<style>
  .required::after {
    content: " *";
    font-weight: bold;
    color: #ff0000;
  }

  .input-group {
    width: 100%;
  }

  input[type=checkbox] {
    margin-top: 4px;
    margin-right: 6px;
    margin-left: 0px;
  }

  input[type=radio]:hover {
    cursor: pointer;
  }

  .language-pair-label {
    font-weight: normal;
  }

  .language-pair-label.form-control {
    margin-bottom: 10px;
  }

  .proficiency-level-field:disabled {
    display: none;
  }

  .proficiency-level-table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0 1em;
    margin-top: -1em; /* no spacing on top of the first item */
  }

  span.form-instructions {
    display: block;
    color: #737373;
    margin: 2em 0em;
  }

  @media(min-width: 768px) {
    span.form-instructions {
      margin: 2em 10em;
    }
  }
</style>

<link rel="stylesheet" href="{% static 'Dashboard/css/jquery-ui.css' %}">
<script src="{% static 'Dashboard/js/jquery-ui.min.js' %}"></script>
<script>

  $(document).ready(function () {
    var lp_code = "{{lp_code}}";
    if (lp_code != "None") {
      _activate_proficiency_dropdowns(lp_code);
      _set_proficiency_values(lp_code);
    }

    function _activate_proficiency_dropdowns(lp_code) {
      var [src, tgt] = lp_code.split("-");

      var id_select = "#proficiency-level-src";

      // un-hide the div
      $(".proficiency-level-field").prop("hidden", false);
      
      // enable the dropdowns
      $("#proficiency-level-src").prop("disabled", false);
      $("#proficiency-level-tgt").prop("disabled", false);

      // set the language as the label text before the proficiency dropdown
      var language_name_src = (src == "eng") ? "{{language_name_english}}" : "{{language_name_spanish}}";
      var language_name_tgt = (tgt == "mlt") ? "{{language_name_maltese}}" : "{{language_name_basque}}";
      $(".src-language").text(language_name_src + ":");
      $(".tgt-language").text(language_name_tgt + ":");

      // reset selected index to this first option
      $("#proficiency-level-src").prop("selectedIndex", 0);
      $("#proficiency-level-tgt").prop("selectedIndex", 0);
    }

    function _set_proficiency_values(lp_code) {
      var [src, tgt] = lp_code.split("-");
    
      proficiency_levels_str = "{{proficiency_levels}}";
      console.log(proficiency_levels_str);
      var proficiency_levels = JSON.parse(proficiency_levels_str.replaceAll("&#x27;", '"'));
      $("#proficiency-level-src").val(proficiency_levels[src]);
      $("#proficiency-level-tgt").val(proficiency_levels[tgt]);
    }

    function radio_change() {
      var _lp_code = $(this).val();
      console.log("radio_change(): ", _lp_code);
      _activate_proficiency_dropdowns(_lp_code);
    }

    $(".language-pair-radio").change(radio_change);
  })



</script>

{% endblock %}

{% block content %}

{% if errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
      aria-hidden="true">&times;</span></button>
  {% if 'invalid_username' in errors %}
  <p><strong>{{error_msg_warning_header}}</strong> {{error_msg_invalid_username}}</p>
  {% elif 'username_already_exists' in errors %}
  <p><strong>{{error_msg_warning_header}}</strong> {{error_msg_username_already_exists}}</p>
  {% elif 'missing_password' in errors %}
  <p><strong>{{error_msg_warning_header}}</strong> {{error_msg_missing_password}}</p>
  {% elif 'passwords_not_matching' in errors %}
  <p><strong>{{error_msg_warning_header}}</strong> {{error_msg_passwords_not_matching}}</p>
  {% elif 'password_too_short' in errors %}
  <p><strong>{{error_msg_warning_header}}</strong> {{error_msg_password_too_short}}</p>
  {% elif 'no_language_selected' in errors %}
  <p><strong>{{error_msg_warning_header}}</strong> {{error_msg_no_lang_selected}}</p>
  {% elif 'missing_proficiency_level' in errors %}
  <p><strong>{{error_msg_warning_header}}</strong> {{error_msg_missing_poficiency_level}}</p>
  {% else %}
  <p><strong>{{error_msg_warning_header}}</strong> {{error_msg_default}}</p>
  {% endif %}
</div>
{% endif %}

<div class="page-header">
  <h1>{{create_profile_title}}</h1>
  <p>{{create_profile_subtitle}}</p>
</div>

<form class="form-horizontal" method="post" action="{% url 'create-profile' %}">
  {% csrf_token %}

  <div class="form-group">
    <label for="id_username" class="col-sm-4 control-label required">{{username_label_text}}</label>
    <div class="col-sm-4">
      <div class="input-group">
        <input class="form-control" name="username" id="id_username" type="text" aria-describedby="helpUsername" />
      </div>
      <span id="helpUsername" class="help-block">{{username_help_text}}</span>
    </div>
  </div>

  <div class="form-group">
    <label for="id_password1" class="col-sm-4 control-label required">{{password1_label_text}}</label>
    <div class="col-sm-4">
      <div class="input-group">
        <input class="form-control" name="password1" id="password1" type="password" />
      </div>
      <p class="help-block">{{password1_help_text}}</p>
    </div>
  </div>

  <div class="form-group">
    <label for="id_password2" class="col-sm-4 control-label required">{{password2_label_text}}</label>
    <div class="col-sm-4">
      <div class="input-group">
        <input class="form-control" name="password2" id="password2" type="password"
          value="{% if password2 %}{{password2}}{% endif %}" />
      </div>
      <p class="help-block">{{password2_help_text}}</p>
    </div>
  </div>

  <span class="form-instructions">{{lp_help_text}}</span>

  <div class="form-group">
    <label for="id_languages" class="col-sm-4 control-label required">{{lp_label_text}}</label>
      <div class="col-sm-4">
        <div class="input-group">
          <label class="language-pair-label form-control" style="display: inline-block;">
            <input type="radio" {% if lp_code == 'eng-mlt' %} checked=true {% endif %} name="lp_code" class="language-pair-radio" value="eng-mlt" style="vertical-align: middle; margin: 1px;">
              <text style="vertical-align: middle;">{{lp_engmlt_option_text}}</text>
            </input>
          </label>
        </div>
        <div class="input-group">
          <label class="language-pair-label form-control" style="display: inline-block;">
            <input type="radio" {% if lp_code == 'spa-eus' %} checked=true {% endif %} name="lp_code" class="language-pair-radio" value="spa-eus" style="vertical-align: middle; margin: 1px;">
              <text style="vertical-align: middle;">{{lp_spaeus_option_text}}</text>
            </input>
          </label>
        </div>
      </div>
    </div>

  <div class="form-group proficiency-level-field" hidden>
    <label for="id_languages" class="col-sm-4 control-label required">{{proficiency_level_label_text}}</label>
    <div class="col-sm-4">
      <div class="input-group">
        <table class="proficiency-level-table">
        <tr>
          <td class="language tgt-language" /> 
          <td class="dropdown">
            <select class="col-sm-2 form-control" name="proficiency-level-tgt" id="proficiency-level-tgt" disabled>
              {% with current_level=proficiency_levels|get_value_from_dict:tgt %}
                <option = disabled {% if level == None %} selected {% endif %}>{{select_option_text}}</option>
                <option {% if current_level == 'beginner' %} selected {% endif %} value="beginner">{{proficiency_level_beginner}}</option>
                <option {% if current_level == 'intermediate' %} selected {% endif %} value="intermediate">{{proficiency_level_intermediate}}</option>
                <option {% if current_level == 'advanced' %} selected {% endif %} value="advanced">{{proficiency_level_advanced}}</option>
                <option {% if current_level == 'fluent' %} selected {% endif %} value="fluent">{{proficiency_level_fluent}}</option>
                <option {% if current_level == 'native' %} selected {% endif %} value="native">{{proficiency_level_native}}</option>
              {% endwith %}
            </select>
          </td>
        </tr>
        <tr>
          <td class="language src-language" />
          <td class="dropdown">
          <select class="col-sm-2 form-control" name="proficiency-level-src" id="proficiency-level-src" disabled>
              {% with current_level=proficiency_levels|get_value_from_dict:src %}
                <option = disabled {% if level == None %} selected {% endif %}>{{select_option_text}}</option>
                <option {% if current_level == 'beginner' %} selected {% endif %} value="beginner">{{proficiency_level_beginner}}</option>
                <option {% if current_level == 'intermediate' %} selected {% endif %} value="intermediate">{{proficiency_level_intermediate}}</option>
                <option {% if current_level == 'advanced' %} selected {% endif %} value="advanced">{{proficiency_level_advanced}}</option>
                <option {% if current_level == 'fluent' %} selected {% endif %} value="fluent">{{proficiency_level_fluent}}</option>
                <option {% if current_level == 'native' %} selected {% endif %} value="native">{{proficiency_level_native}}</option>
              {% endwith %}
            </select>
        </td>
        </tr>
        </table>
      </div>
    </div>
  </div>

  <button type="submit" class="col-sm-offset-4 btn btn-primary">{{create_profile_button}}</button>

</form>
{% endblock %}

{% block actions %}
<script>
  {% if focus_input %}
  // Set focus to given input
  $('#{{ focus_input }}').focus();
  {% else %}
  // by default, set focus on username input
  $('#id_username').focus();
  {% endif %}
</script>
{% endblock %}