{% extends "Dashboard/base.html" %}
{% load static %}

{% block head %}
<style>
  .required::after {
    content: " *";
    font-weight: bold;
    color: #ff0000;
  }

  .input-group {
    width: 100%;
  }

  input[type=checkbox] {
    margin-top: 4px;
    margin-right: 6px;
    margin-left: 0px;
  }

  .language-choices-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0.2em;
  }

  .language-choices-td {
    width: 40%;
    padding-left: 20px; /* to make up for the checkbox -20px margin */
  }
</style>

<link rel="stylesheet" href="{% static 'Dashboard/css/jquery-ui.css' %}">
<script src="{% static 'Dashboard/js/jquery-ui.min.js' %}"></script>
<script>

  $(document).ready(function () {

    function checkbox_change() {
      var lang_code = $(this).val();
      var id_select = "#proficiency-level-" + lang_code;

      // when the language checkbox is checked, activate the corresponding dropdown menu for the proficiency level
      if ($(this).is(":checked")) {
        $(id_select).prop("disabled", false);
        return;
      }

      // when it's unchecked, reset the dropdown menu value and deactivate it
      $(id_select).prop("selectedIndex", 0);
      $(id_select).prop("disabled", true);
    }

    $(".language-checkbox").change(checkbox_change);
  })



</script>

{% endblock %}

{% block content %}

  {% if errors %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {% if 'invalid_username' in errors %}
    <p><strong>Warning!</strong> Invalid or missing username. Please provide a new username.</p>
    <!-- {% elif 'invalid_email' in errors %} -->
    <!-- <p><strong>Warning!</strong> Invalid or missing email address. Please provide your email address. It will never be shared.</p> -->
    <!-- {% elif 'invalid_token' in errors %} -->
    <!-- <p><strong>Warning!</strong> Invalid or inactive invite token. Please try again and contact your team lead if the problem persists.</p> -->
    {% elif 'invalid_languages' in errors %}
    <p><strong>Warning!</strong> Invalid or missing language selection. Please choose at least one target language for evaluation.</p>
    {% elif 'missing_password' in errors %}
    <p><strong>Warning!</strong> Missing password. Please type your desired password twice, in both fields.</p>
    {% elif 'passwords_not_matching' in errors %}
    <p><strong>Warning!</strong> The passwords don't match. Please type the desired password in both fields.</p>
    {% elif 'password_too_short' in errors %}
    <p><strong>Warning!</strong> The password must be at least 4 characters long. Please try again.</p>
    {% else %}
    <p><strong>Warning!</strong> Something bad happened. Please try again.</p>
    {% endif %}
  </div>
  {% endif %}

  <div class="page-header">
    <h1>Register to participate</h1>
    <p>Please enter your desired username, your email address and your unique invite token. Then, tell us which target languages you can evaluate.</p>
    
    <!-- <div class="panel panel-primary" style="margin-top: 20px;">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Note</strong></h3>
      </div>
      <div class="panel-body">
        <p>Each invite token can only be used once. After submitting this form you will be redirected to the front page. If successful you will be automatically logged into a new browser session. No confirmation message will be shown. If you provided a wrong value for the invite token field you will see an error message.</p>
      </div>
    </div> -->
  </div>
  <form class="form-horizontal" method="post" action="{% url 'create-profile' %}">
  {% csrf_token %}

    <div class="form-group">
      <label for="id_username" class="col-sm-4 control-label required">Username</label>
      <div class="col-sm-4">
        <div class="input-group">
          <input class="form-control" name="username" id="id_username" type="text" value="{% if username %}{{username}}{% endif %}" aria-describedby="helpUsername" />
        </div>
        <span id="helpUsername" class="help-block">Please create an username</span>
      </div>
    </div>

    <!-- <div class="form-group">
      <label for="id_email" class="col-sm-4 control-label required">Email</label>
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-addon">required</div>
          <input class="form-control" name="email" id="id_email" type="text" value="{% if email %}{{email}}{% endif %}" aria-describedby="helpEmail" />
        </div>
        <span id="helpEmail" class="help-block">Please enter your email address</span>
      </div>
    </div> -->

    <!-- <div class="form-group">
      <label for="id_token" class="col-sm-4 control-label">Token</label>
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-addon">required</div>
          <input class="form-control" name="token" id="id_token" type="text" size="30" value="{% if token %}{{token}}{% endif %}" aria-describedby="helpToken" />
        </div>
        <span id="helpToken" class="help-block">And also provide your invite token</span>
      </div>
    </div> -->

    <div class="form-group">
      <label for="id_password1" class="col-sm-4 control-label required">Password</label>
      <div class="col-sm-4">
        <div class="input-group">
          <input class="form-control" name="password1" id="password1" type="password" />
        </div>
        <p class="help-block">Please enter your desired password</p>
        <!-- <ul class="help-block">
          <li><small>Can't be too similar to your other personal information;</small></li>
          <li><small>Must contain at least 8 characters;</small></li>
          <li><small>Can't be a commonly used password;</small></li>
          <li><small>Can't be entirely numeric.</small></li>
        </ul> -->
      </div>
    </div>

    <div class="form-group">
      <label for="id_password2" class="col-sm-4 control-label required">Password (again)</label>
      <div class="col-sm-4">
        <div class="input-group">
          <input class="form-control" name="password2" id="password2" type="password" />
        </div>
        <p class="help-block">Please re-type your password</p>
      </div>
    </div>

    <!-- <div class="form-group">
      <label for="id_languages" class="col-sm-4 control-label required">Languages</label>
      <div class="col-sm-4">
        <div class="input-group">
          <select class="form-control" name="languages" id="id_languages" multiple="multiple" width="100%">
{% for code, name in language_choices %}
            <option {% if code in languages %}selected="selected"{% endif %}value="{{code}}">{{name}}</option>
{% endfor %}
          </select>
        </div>
        <span id="helpLanguages" class="help-block">Which languages will you evaluate?</span>
      </div>
    </div> -->

    <div class="form-group">
      <label for="id_languages" class="col-sm-4 control-label required">Languages</label>
      <div class="col-sm-4">
        <table class="language-choices-table">
          {% for code, name in language_choices %}
          <tr>
            <td class="language-choices-td">
              <div class="input-group checkbox">
                <input type="checkbox" {% if code in languages %} checked=true {% endif %} name="languages" class="language-checkbox" value="{{code}}">{{name}}</input>
              </div>
            </td>
            <td style="width:60%;">
              <div class="input-group">
                <select class="col-sm-2 form-control" name="proficiency-level-{{code}}" id="proficiency-level-{{code}}" {% if code not in languages %} disabled {% endif %}>
                  {% with level=proficiency_levels|get_value_from_dict:code %}
                  <option {% if level == None %} selected {% endif %} value=""></option>
                  <option {% if level == 'native' %} selected {% endif %} value="native">Native speaker</option>
                  <option {% if level == 'fluent' %} selected {% endif %} value="fluent">Fluent</option>
                  <option {% if level == 'intermediate' %} selected {% endif %} value="intermediate">Intermediate</option>
                  <option {% if level == 'beginner' %} selected {% endif %} value="beginner">Beginner</option>
                  {% endwith %}
                </select>
              </div>
            </td>
    
          </tr>
          {% endfor %}
        </table>
        <span id="helpLanguages" class="help-block">Please select the languages you speak, and tell us what you believe is
          your proficiency level in each</span>
          <span></span>

      </div>
    </div>
    </div>

    <button type="submit" class="col-sm-offset-4 btn btn-primary">Create profile</button>

  </form>
{% endblock %}

{% block actions %}
    <script>
      {% if focus_input %}
          // Set focus to given input
          $('#{{ focus_input }}').focus();
      {% else %}
          // by default, set focus on username input
          $('#id_username').focus();
      {% endif %}
    </script>
{% endblock %}
