{% extends 'Dashboard/base.html' %}

{% load static %}

{% block content %}
<style>
.jumbotron p {
  font-size: 18px;
}

.disclaimer-panel p {
  font-size: 18px;
}

.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 12px;
  color: #337ab7;
}

/* Change background color of buttons on hover */
.tab button:hover {
}

/* Create an active/current tablink class */
.tab button.active {
  font-weight: bold;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
  border-top: none;
}

.btn-block {
  display: block;
  width: 50%;
  margin: 0 auto;
}

</style>

<script>
  function openTab(evt, tabId) {
    // Declare all variables
    var i, tabcontent, tablinks;
  
    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
  
    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
  
    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabId).style.display = "block";

    if (evt) {
      evt.currentTarget.className += " active";
    } else {
      var button = document.getElementById("tab-button-" + tabId);
      button.className += " active";
    }
  }

  $(document).ready(function () {
    var languages = eval("{{ languages }}".replaceAll("&#x27;", '"')); // TODO: could probably be better

    /* loop over languages (in list ordered by priority of what to show, local languages first!) */
    for (const lang_code of ["mlt", "eus", "spa", "eng"]) {
      if (languages.includes(lang_code)) {
        openTab(null, lang_code);
        break;
      }
    }
  })
</script>

      <div class="jumbotron">
        <h1>Dashboard</h1>

        {% if proficiency_level_accepted %}
          <div class="panel panel-primary" style="margin-top: 20px;">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>The task</strong></h3>
            </div>
            <div class="panel-body">
              <p>For each item, you will be shown an original sentence in {{language_names|index:0}}, and a translation candidate in {{language_names|index:1}}. You will then be asked to rate the quality of the translation on a scale of 0 to 100, based on how well you believe the translation expresses the full meaning of the original sentence. Let's say a rating of 100 means that the candidate is a perfect translation: it expresses the same thing as the original sentence, in a clear and correct manner. A candidate may "lose points" if it contains grammatical or ortographic mistakes, if it's missing information, if it contains extra information that was not present in the original sentence, if it sounds unnatural or weird, and so on.</p>
              <p>You cannot edit your rating after you submit it, so please, read both the source sentence and the candidate carefully before you decide on your score.</p>

            </div> <!-- panel-body (first panel) -->
          </div> <!-- panel-primary (first panel) -->

          {% if current_task %}
            <a class="btn btn-primary btn-lg btn-block" href="{% url current_url %}" role="button">Go to task &raquo;</a>
          {% elif all_languages %}
            {% with task=all_languages|get_value_from_dict:'direct'|index:0 %}
              {% with tgt=task|index:0 campaign_name=task|index:2 task_type=task|index:3 %}
                <a class="btn btn-primary btn-lg btn-block" href="{% url task_type tgt campaign_name %}" role="button">Go to task &raquo;</a>
              {% endwith %}
            {% endwith %}
          {% endif %}

          <hr style="margin: 30px 20px;">

        {% endif %}

        <div class="panel panel-primary" style="margin-top: 20px;">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>User status</strong></h3>
          </div>
          <div class="panel-body">
            {% if proficiency_level_accepted %}
              {% if annotations == 0 %}
                <p><i>Start participating and evaluating translations to be able to see your user status!</i></p>
              {% else %}
                <p>
                  <strong>Evaluations done:</strong> {{annotations}}
                  <br>
                  <strong>Total duration:</strong> {% if days %}{{days|stringformat:"02d"}}d{% endif %}{{hours|stringformat:"02d"}}h{{minutes|stringformat:"02d"}}m{{seconds|stringformat:"02d"}}s
                </p>
              {% endif %}
            {% else %}
              <p><strong>No tasks available</strong></p>
              <p style="font-size:18px">Thank you for your interest in participating in our project. However, in order to evaluate the quality of translations between {{language_names|index:0}} and {{language_names|index:1}}, we are looking for bilingual speakers, who are fluent or near fluent in both languages.</p>
              <p style="font-size:18px">If you think you made a mistake in the sign up form and you <i>are</i> a fluent/native speaker of both {{language_names|index:0}} and {{language_names|index:1}}, feel free to <a href="{% url 'sign-out' %}">sign out</a> and create a new account.</p>
            {% endif %}

          </div> <!-- panel-body (first panel) -->
        </div> <!-- panel-primary (first panel) -->

        {% if proficiency_level_accepted %}
          <div class="panel panel-primary" style="margin-top: 20px;"> <!-- data disclaimers panel -->
            <div class="panel-heading">
              <h3 class="panel-title"><strong>Disclaimer</strong></h3>
            </div>
            <div class="panel-body disclaimer-panel">

              <!-- language tabs -->
              <div class="tab">
                <button class="tablinks" id="tab-button-eng" onclick="openTab(event, 'eng')">ENGLISH</button>
                <button class="tablinks" id="tab-button-mlt" onclick="openTab(event, 'mlt')">MALTI</button>
                <button class="tablinks" id="tab-button-spa" onclick="openTab(event, 'spa')">ESPAÑOL</button>
                <button class="tablinks" id="tab-button-eus" onclick="openTab(event, 'eus')">EUSKARA</button>
              </div>
              
              <!-- language tabs content -->
              <div id="eng" class="tabcontent">
                <p>[disclaimer text in English]</p>
              </div>
              
              <div id="mlt" class="tabcontent">
                <p>[disclaimer text in Maltese]</p>
              </div>
              
              <div id="spa" class="tabcontent">
                <p>[disclaimer text in Spanish]</p>
              </div>

              <div id="eus" class="tabcontent">
                <p>[disclaimer text in Basque]</p>
              </div>

            </div> <!-- panel-body (data diclaimers panel) -->
          </div> <!-- panel-primary (data disclaimers panel) -->
        {% endif %}

      </div> <!-- jumbotron -->

      <div class="uni-logos">
        <img class="uni-logo um-logo" src="{% static 'Dashboard/assets/um-logo.png' %}">
        <br>
        <img class="uni-logo upv-logo" src="{% static 'Dashboard/assets/upv-logo.png' %}">
      </div>
{% endblock %}
