{% extends 'Dashboard/base.html' %}

{% load static %}

{% block content %}
<style>
.btn-block {
  display: block;
  width: 50%;
  margin: 0 auto;
}

</style>

<script>
  function openTab(evt, tabId) {
    // Declare all variables
    var i, tabcontent, tablinks;
  
    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
  
    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
  
    // Show the current tab, and add an "active" class to the button that opened the tab
    if (evt) {
      evt.currentTarget.className += " active";
    } else {
      var button = document.getElementById("tab-button-" + tabId);
      button.className += " active";
    }
  }

  $(document).ready(function () {
    var languages = eval("{{ languages }}".replaceAll("&#x27;", '"')); // TODO: could probably be better

    /* loop over languages */
    for (const lang_code of ["spa", "eng"]) {
      if (languages.includes(lang_code)) {
        openTab(null, lang_code);
        break;
      }
    }
  })
</script>

      <div class="jumbotron">
        <h1>{{dashboard_title|safe}}</h1>

        {% if proficiency_level_accepted %}
          <div class="panel panel-primary" style="margin-top: 20px;">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>{{task_panel_title|safe}}</strong></h3>
            </div>
            <div class="panel-body">
              {{task_panel_text|safe}}
            </div> <!-- panel-body (first panel) -->
          </div> <!-- panel-primary (first panel) -->

          {% if current_task %}
            <a class="btn btn-primary btn-lg btn-block" href="{% url current_url %}" role="button">{{task_button_text|safe}} &raquo;</a>
          {% elif all_languages %}
            {% with task=all_languages|get_value_from_dict:'direct'|index:0 %}
              {% with tgt=task|index:0 campaign_name=task|index:2 task_type=task|index:3 %}
                <a class="btn btn-primary btn-lg btn-block" href="{% url task_type tgt campaign_name %}" role="button">{{task_button_text|safe}} &raquo;</a>
              {% endwith %}
            {% endwith %}
          {% endif %}

          <hr style="margin: 30px 20px;">

        {% endif %}

        <div class="panel panel-primary" style="margin-top: 20px;">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>{{user_status_title|safe}}</strong></h3>
          </div>
          <div class="panel-body">
            {% if proficiency_level_accepted %}
              {% if annotations == 0 %}
                <p><i>{{user_status_unavailable_text|safe}}</i></p>
              {% else %}
                <p>
                  <strong>{{evaluations_done}}:</strong> {{annotations}}
                  <br>
                  <strong>{{total_duration}}:</strong> {% if days %}{{days|stringformat:"02d"}}d{% endif %}{{hours|stringformat:"02d"}}h{{minutes|stringformat:"02d"}}m{{seconds|stringformat:"02d"}}s
                </p>
              {% endif %}
            {% else %}
              <p><strong>{{no_tasks_available|safe}}</strong></p>
              {{insufficient_proficiency_text|safe}}
            {% endif %}

          </div> <!-- panel-body (first panel) -->
        </div> <!-- panel-primary (first panel) -->

        {% if proficiency_level_accepted %}
          <div class="panel panel-primary" style="margin-top: 20px;" id="data-warning"> <!-- data disclaimers panel -->
            <div class="panel-heading">
              <h3 class="panel-title"><strong>{{disclaimer_title}}</strong></h3>
            </div>
            <div class="panel-body disclaimer-panel">
            
            {{disclaimer_text|safe}}

            </div> <!-- panel-body (data diclaimers panel) -->
          </div> <!-- panel-primary (data disclaimers panel) -->
        {% endif %}

      </div> <!-- jumbotron -->

      <div class="uni-logos">
        <img class="uni-logo um-logo" src="{% static 'Dashboard/assets/um-logo.png' %}">
        <br>
        <img class="uni-logo upv-logo" src="{% static 'Dashboard/assets/upv-logo.png' %}">
      </div>
{% endblock %}
