{% extends 'Dashboard/base.html' %}

{% block content %}

<div class="jumbotron">
    <h1>Data sources</h1>
    <h4>Describe the page here</h4>
    <div class="panel panel-primary" style="margin-top: 20px;">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>English to Maltese</strong></h3>
        </div>
        <div class="panel-body">
            [in construction]
        </div>
    </div>

    <div class="panel panel-primary" style="margin-top: 20px;">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Spanish to Basque</strong></h3>
        </div>
        <div class="panel-body">
            [in construction]
        </div>
    </div>



</div>
{% endblock %}